body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0;
    background: repeating-radial-gradient(circle at 50%, #546A76, #88A0A8, #B4CEB3, #DBD3C9, #FAD4D8, 
            #DBD3C9, #B4CEB3, #88A0A8, #546A76 450px);
    background-attachment: fixed;
}

.header, .footer{
    height: 60px;
}

.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border-width: 10px;
    border-style: solid;
    border-image: radial-gradient(circle at center, #546A76, rgba(0, 0, 0, 0)) 10%;
    border-radius: 10px;
    font-size: 30px;
    height: 620px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
}

.result{
    border: 2px solid black;
    background-color: antiquewhite;
    box-sizing: border-box;
    height: 90px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    margin: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    border: 2px solid black;
    font-size: 30px;
    flex: 1;
    border-radius: 10px;
    background-color: #FAD4D8;
}

button:hover{
    background-color: #88A0A8;
}

.num{
    background-color: #B4CEB3;
}

#delete, #clear{
    background-color: rgb(236, 138, 138);
}