body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0;
    background: linear-gradient(45deg, #4a6b7c, #63b3ce, #88d486, rgba(228, 145, 145, 0.774));
    background-attachment: fixed;
}

.header, .footer{
    height: 60px;
}

.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border-width: 10px;
    border-style: solid;
    border-image: radial-gradient(circle at center, #546A76, rgba(0, 0, 0, 0)) 10%;
    border-radius: 10px;
    font-size: 30px;
    height: 620px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
    box-shadow:  5px 5px 35px 10px rgba(0,0,0,0.72);

}

.result{
    border: 2px solid black;
    background-color: antiquewhite;
    box-sizing: border-box;
    height: 90px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons{
    margin: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    border: 2px solid black;
    font-size: 30px;
    flex: 1;
    border-radius: 10px;
    background-color: #B4CEB3;
}

button:hover{
    background-color: #88A0A8;
}

.num{
    background-color: #546a76ab;
}

#delete, #clear{
    background-color: rgb(236, 138, 138);
}