.calculator{
    border: 2px solid black;
    font-size: 30px;
    height: 620px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
}

.result{
    border: 2px solid black;
    background-color: antiquewhite;
    box-sizing: border-box;
    height: 90px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    margin: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    border: 2px solid black;
    font-size: 30px;
    flex: 1;
    border-radius: 10px;
    background-color: lightpink;
}

button:hover{
    background-color: aquamarine;
}

.num{
    background-color: lightgreen;
}

.delete, .clear{
    background-color: lightcoral;
}